.navbar {
	position: absolute;
	z-index: 101;
	width: 100%;
	transition: .3s ease-in-out;
	&-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	&-logo {
		img {
			max-height: 100%;
		}
	}
	&-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
		font-size: 1.6rem;
		width: 100%;
		max-width: 650px;
		margin: -5px;
		li {
			margin: 5px;
		}
		a {
			transition: 0.2s ease-in-out;
			&:hover {
				filter: drop-shadow(0px 0px 10px #fff);
			}
			&:active {
				transition: 0.1s ease-in-out;
				transform: scale(0.95);
			}
		}
	}

	&.is-fixed {
		position: fixed;
		background-color: var(--heading-color);
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
		.navbar-logo {
			height: 6rem;
		}
		.navbar-wrapper {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}

	@media (max-width: $md) {
		&-menu {
			display: none;
		}
	}
}

.header {
	position: relative;
	background-color: var(--header-bg);
	color: var(--header-color);
	min-height: 100vh;
	z-index: 1;

	.slider-pagination {
		position: absolute;
		top: 50%;
		right: 5%;
	}
	.slider-controls {
		position: absolute;
		top: 69%;
	}
	@media (max-height: 700px) {
		.slider-controls {
			top: 80%;
		}
		.slider-pagination {
			display: none;
		}
	}
}

.btn {
	border: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.4rem;
	border-radius: 50px;
	transition: 0.3s ease-in-out;
	text-transform: uppercase;
	text-align: center;
	&.btn-white {
		background-color: #fff;
		padding: 1.6rem 3.3rem;
		color: var(--heading-color);
		&:hover {
			filter: drop-shadow(0px 0px 5px #fff);
		}
		@media (max-width: $sm) {
			padding: 1.2rem 2rem;
			font-size: 1.2rem;
		}
	}
	&.btn-outline {
		border: 1px solid #fff;
		color: #fff;
		padding: 1.6rem 3.3rem;
		&:hover {
			background-color: #fff;
			color: var(--heading-color);
			box-shadow: 0px 0px 10px #fff;
		}
		@media (max-width: $sm) {
			padding: 1.2rem 2rem;
			font-size: 1.2rem;
		}
	}
	&.btn-primary {
		background-color: var(--primary);
		padding: 1.8rem 3.3rem;
		letter-spacing: -0.5px;
		color: #fff;
		&:hover {
			filter: saturate(1.8) drop-shadow(0px 0px 2px var(--primary));
		}
	}

	&:focus {
		transition: 0.1s ease-in-out;
		transform: scale(0.95);
	}
}

.btns {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
	.btn {
		margin: 10px;
	}
}

.info-block-grid {
	.info-block {
		display: grid;
		grid-template-columns: 50fr 490px;
		justify-content: space-between;
		gap: 6%;
		margin-bottom: 22rem;

		grid-template-areas: 'content text';

		.content {
			grid-area: content;

			ul li:last-child,
			ol li:last-child {
				margin-bottom: 0;
			}
		}
		.image {
			grid-area: text;
			position: relative;
			overflow: hidden;
			line-height: 0;
			align-self: flex-start;
			max-width: 520px;
			box-shadow: 0px 11px 35px 0px rgba(0, 0, 37, 0.22);

			.badge {
				position: absolute;
				top: 30px;
				color: #fff;
				font-weight: 900;
				font-size: 2.2rem;
				line-height: 1.2;
				transform: rotateZ(315deg);
				&:before {
					content: '';
					position: absolute;
					height: 40px;
					width: 200px;
					background: linear-gradient(45deg, #006e85, #00b6dc);
					z-index: -1;
					transform: translate(-25%, -15%);
				}
			}
			img {
				width: 100%;
			}
		}

		&:nth-child(even) {
			grid-template-areas: 'text content';
			grid-template-columns: 490px 50fr;
			gap: 8%;
		}
		&:last-child {
			margin-bottom: 0;
		}

		@media (max-width: $md) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'content content'
				'text text';
			margin-bottom: 8rem;
			gap: 3rem;
			&:nth-child(even) {
				grid-template-columns: 1fr;
				grid-template-areas:
					'content content'
					'text text';
				gap: 3rem;
			}
			.image,
			.content {
				justify-self: center;
			}
		}
	}

	.video-preview {
		position: relative;
		cursor: pointer;
		&:hover {
			& img {
				filter: brightness(1.2);
			}
			.play-btn {
				background-color: rgba(#00b6dc, 1);
			}
		}
		img {
			transition: 0.2s ease-in-out;
		}

		.play-btn {
			position: absolute;
			cursor: pointer;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: rgba(#00b6dc, 0.8);
			border-radius: 50%;
			width: 9.4rem;
			height: 9.4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			z-index: 1;
			transition: 0.2s ease-in-out;

			img {
				width: auto;
				line-height: 0;
				transform: translateX(15%);
			}

			&:before {
				content: '';
				background: var(--primary);
				position: absolute;
				z-index: -1;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				opacity: 0.3;

				transform: scale(1.4);
				transition: 0.3s ease-in-out;
				animation: playAnimation 1.3s ease-in-out alternate infinite;
			}
			&:hover {
				transform: translate(-50%, -50%) scale(1.1);
			}
			&:active {
				transform: translate(-50%, -50%) scale(0.95);
				transition: 0.1s ease-in-out;
			}

			@keyframes playAnimation {
				0% {
					transform: scale(1.5);
				}
				100% {
					transform: scale(1.2);
				}
			}
		}
	}
}

// menu icon
$menu-icon-size: 4rem;
$menu-icon-dash-width: 0.9em; //em(4.5rem, 6rem)
$menu-icon-dash-height: 0.05em; //em(0.3rem, 6rem)
$menu-icon-dash-gutter: $menu-icon-dash-height * 5;
$menu-icon-dash-color: #fff;
$menu-icon-dash-border-radius: 10rem;

%menu-dash {
	display: block;
	position: absolute;
	top: 50%;
	left: (1em - $menu-icon-dash-width) / 2; // center X
	background-color: $menu-icon-dash-color;
	width: $menu-icon-dash-width;
	height: $menu-icon-dash-height;
	border-radius: $menu-icon-dash-border-radius;
}

.menu-icon {
	font-size: $menu-icon-size;
	width: 1em;
	height: 1em;
	position: relative;
	background-color: transparent;
	border: 0;
	padding: 0;
	outline: none;
	user-select: none;
	touch-action: manipulation;
	cursor: pointer;
	display: none;

	span {
		@extend %menu-dash;
		margin-top: $menu-icon-dash-height / -2;
	}

	&:before {
		content: '';
		@extend %menu-dash;
		margin-top: -$menu-icon-dash-gutter + ($menu-icon-dash-height / -2);
	}

	&:after {
		content: '';
		@extend %menu-dash;
		margin-top: $menu-icon-dash-gutter + ($menu-icon-dash-height / -2);
		left: auto;
		right: (1em - $menu-icon-dash-width) / 2;
	}

	&:before,
	&:after {
		transition: 0.2s ease 0.2s;
	}

	span {
		transition: 0.2s;

		&:before {
			@extend %menu-dash;
			content: '';
			transition: inherit;
			left: 0;
			top: 0;
		}
	}

	&.active {
		&:before,
		&:after {
			transition: 0.2s ease;
			width: 0;
		}

		span {
			transform: rotate(45deg);
			transition: 0.2s ease 0.2s;

			&:before {
				transform: rotate(-90deg);
			}
		}
	}

	@media (max-width: $md) {
		display: block;
	}
}

.mobile-menu {
	position: fixed;
	top: 0;
	left: 0;
	padding: 2rem;
	width: 100%;
	height: 100%;
	background: var(--footer-bg);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	z-index: 100;
	transition: 0.3s ease-in-out;
	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #fff;
		li {
			text-align: left;
			font-size: 3rem;
			margin-bottom: 10%;
		}
	}
	&.active {
		opacity: 1;
		pointer-events: all;
	}
}

.input-material {
	position: relative;
	margin: auto;
	width: 100%;
	.label {
		position: absolute;
		top: 15px;
		left: 15px;
		font-size: 16px;
		color: #7b94a5;

		transform-origin: 0 0;
		transform: translate3d(0, 0, 0);
		transition: all 0.2s ease;
		pointer-events: none;
	}
	input,
	textarea {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 100%;
		padding: 15px 15px 0 15px;
		min-height: 50px;
		font-size: 1.5rem;
		background: #fff;
		border: 1px solid transparent;
		box-shadow: 0px 3px 6px 0px rgba(145, 154, 159, 0.08);
		color: #002841;
		font-weight: 600;
		transition: all 0.15s ease;
		&:hover,
		&:focus {
			box-shadow: 0px 8px 8px 0px rgba(145, 154, 159, 0.16);
		}
		&:not(:-moz-placeholder-shown) + .label {
			color: rgba(0, 0, 0, 0.5);
			transform: translate3d(0, -8px, 0) scale(0.75);
		}
		&:not(:-ms-input-placeholder) + .label {
			color: rgba(0, 0, 0, 0.5);
			transform: translate3d(0, -8px, 0) scale(0.75);
		}
		&:not(:placeholder-shown) + .label {
			color: rgba(0, 0, 0, 0.5);
			transform: translate3d(0, -8px, 0) scale(0.75);
		}
		&:focus + .label {
			transform: translate3d(0, -8px, 0) scale(0.75);
		}
		&:focus + .label + .focus-bg {
			transform: scaleX(1);
			transition: all 0.1s ease;
		}
	}
	textarea {
		resize: none;
		height: 16rem;
		padding-top: 20px;
	}
	&.invalid {
		span,
		input,
		textarea {
			color: var(--red);
			border-color: var(--red);
		}
	}
}

#open-form {
	padding: 5rem 0;
	text-align: center;

	.title {
		font-size: 1.8rem;
		font-weight: 600;
		letter-spacing: -1px;
		line-height: 1;
		margin-bottom: 0.8rem;
	}
	.subtitle {
		font-size: 1.5rem;
		color: #7b94a5;
		font-weight: 600;
		margin-bottom: 4rem;
		letter-spacing: -1px;
	}

	form {
		text-align: center;
		.inputs {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px 35px;
			margin-bottom: 4rem;
		}
		.wide {
			grid-column-end: span 2;
		}
		@media (max-width: $sm) {
			.inputs {
				gap: 20px;
			}
		}
	}
}

.custom-checkbox {
	display: inline-block;

	& > input {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
	& > span {
		&:before {
			content: '';
			display: inline-block;
			width: 1.6rem;
			height: 1.6rem;
			flex-shrink: 0;
			flex-grow: 0;
			background-color: #fff;
			border-radius: 0;
			box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.16) inset;
			margin-right: 0.5rem;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 80% 80%;
			vertical-align: middle;
		}
	}
	& > input:checked + span::before {
		background-image: url('../img/icons/tick-sign.svg');
	}
	& > input:disabled + span::before {
		background-color: #cacaca;
		border-color: transparent;
	}
}

.privacy-text {
	text-align: left;
	margin-left: 3rem;
	margin-top: -7px;
	span {
		position: relative;
		display: block;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.5;
		&:before {
			position: absolute;
			margin-left: -3rem;
			top: -2px;
		}
	}
}

.footer {
	background-color: var(--footer-bg);
	color: var(--footer-color);
	padding-top: 8rem;
	padding-bottom: 7rem;
	font-size: 1.5rem;
	letter-spacing: -0.5px;

	&-grid {
		display: grid;
		gap: 30px;
		grid-template-columns: 267px 136px 191px 152px 208px 80px;
	}
	.title {
		margin-bottom: 2.7rem;
		font-weight: bold;
	}
	ul {
		li {
			margin-bottom: 2rem;
		}
	}
	a {
		transition: 0.2s ease-in-out;
		&:hover {
			filter: drop-shadow(0px 0px 15px #fff);
		}
		&:active {
			transition: 0.1s ease-in-out;
			transform: scale(0.95);
		}
	}

	.contacts {
		line-height: 1.7;
		margin-bottom: 4rem;
	}
	.copyright {
		text-align: right;
		transform: translateY(-100%);
		margin-top: -2rem;
	}
	@media (max-width: 1280px) {
		&-grid {
			grid-template-columns: repeat(6, 4fr);
		}
	}
	@media (max-width: $md) {
		&-grid {
			grid-template-columns: repeat(2, 4fr);
		}
	}
	@media (max-width: $xs) {
		.c-1 {
			grid-column-end: span 2;
			justify-self: center;
			text-align: center;
		}
	}
}

#map {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #ccc url('../img/map.jpg') center / cover no-repeat;
	overflow: hidden;
	iframe {
		width: 100%;
		height: 100%;
	}
	.place-card {
		display: none;
	}
	.gmnoprint {
		opacity: 0;
	}
}

.responsive-video {
	position: relative;
	/* 100/16*9 = 56.25 */
	padding-bottom: 56.2%;
	img,
	> div,
	iframe {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

// Modal
.modal {
	position: fixed;
	z-index: 200;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;

	transition: 0.5s ease-in-out;

	&.modal-active {
		opacity: 1;
		pointer-events: all;
		.modal-content {
			transform: scale(1);
		}
	}

	&-overlay {
		position: fixed;
		z-index: 201;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(#000, 0.5);
		transition: 0.2s ease-in-out;
	}

	&-close {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 3rem;
		background: none;
		border: none;
		color: #fff;
		pointer-events: none;
		transform: translate(100%, -100%);
		@media (max-width: $sm) {
			transform: translate(0%, -100%);
		}
	}

	&-content {
		position: relative;
		z-index: 202;
		max-width: 900px;
		width: 100%;

		transform: scale(0);
		transition: 0.5s ease-in-out;
	}
}
