:root {
    --primary: #00b6dc;
    --secondary: #ffcd19;

    --heading-color: #002841;
    --font-color: #333333;
    --font-gray: #7b94a5;
    --header-color: #fff;
    --header-bg: #000;
    --footer-color: #fff;
    --footer-bg: #001927;
    --gray: #f5f8fa;
    --red: #ff3139;

    --body-font-size: 1.8rem;
}

$container-width: 1220px; 
$lg: 1199.98px;
$md: 991.98px;
$sm: 767.98px;
$xs: 575.98px;
